$header_backgroundImg: url('../img/header_background_v2.jpg');
$font: normal 18px/26px Palatino, serif;
$mainColor: #0401ac;
$postDescrColor: #5485a6;
$posTitle: #567398;
$inputBorder: #d3dbdf;
$sectionTitleColor: #747376;
$navLinkColor: #ff5642;