$header_backgroundImg: url('../img/header_background_v1.jpg');
$font: normal 300 15px/24px Roboto ,sans-serif;
$mainColor: #01acac;
$postDescrColor: #ea3c3a;
$posTitle: #0092a3;
$inputBorder: #9eb0b8;
$sectionTitleColor: #000d16;
$navLinkColor: #fff;